Greer_P2/.vs/*
Greer_P2/packages/*
Greer_P2/Greer_P2/Scripts/*
*.config
Greer_P2/Greer_P2/obj/*
Greer_P2/Greer_P2/Properties/*
Greer_P2/Greer_P2/Results/*
Greer_P2/Greer_P2/Providers/*
Greer_P2/Greer_P2/Images/*
Greer_P2/Greer_P2/fonts/*
Greer_P2/Greer_P2/Areas/*
Greer_P2/Greer_P2/App_Start/*
Greer_P2/Greer_P2/Views/*
Greer_P2/Greer_P2/bin/*
*.user
*.csproj
Greer_P2/Greer_P2/Global.asax.cs
*.asax
*.ico
*.sln
*.ldf