<div class="jumbotron">
    <h1>Greer Project 2</h1>
    <p class="lead">Project 2 for CIS 465</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Customers by State</h2>
        <p>View customers by state.</p>
        <p><a class="btn btn-default" href="~/CustomerByState.html">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products in Category</h2>
        <p>View products in a category.</p>
        <p><a class="btn btn-default" href="~/ProductsInCategory.html">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Single Product</h2>
        <p>View a single product.</p>
        <p><a class="btn btn-default" href="~/SingleProduct.html">View &raquo;</a></p>
    </div>
</div>
